<nav class="flex justify-evenly shadow-lg rounded-lg bg-blue-100 items-center w-full text-sm lg:text-lg md:w-[50%] mx-auto mb-2">
  <div
    class="duration-500 static min-h-fit left-0 top-[-100%] w-full flex items-center px-4">
    <ul class="items-center flex gap-4">
      <li>
        <a class="hover:bg-blue-300 px-3 py-2.5 rounded-2xl"  routerLinkActive="bg-blue-400"
           [routerLinkActiveOptions]="{ exact: true }" [routerLink]="userRole === 'lecturer' ? '/lecturer-dashboard' : '/student-dashboard'">Dashboard</a>
      </li>
      <li>
        <a class="hover:bg-blue-300 px-3 py-2.5 rounded-2xl"  routerLinkActive="bg-blue-400"
           [routerLinkActiveOptions]="{ exact: true }" [routerLink]="'/notification'">Notifications</a>
      </li>
    </ul>
  </div>
  <div class="flex items-center gap-6">
    <button (click)="signout()" class="bg-blue-400 text-white px-5 py-2 rounded-lg hover:bg-blue-500 w-32 font-semibold">Sign Out</button>
  </div>
</nav>
