.example-container {
  height: 400px;
  width: 900px;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse; /* Make the table borderless */
}

th, td {
  padding: 16px; /* Adjust padding for more spacing */
}

.mat-elevation-z8 {
  box-shadow: none; /* Remove shadow */
}

tr:nth-child(odd) td {
  background-color: #bfdbfe; /* bg-blue-200 */
}

tr:nth-child(even) td {
  background-color: #93c5fd; /* bg-blue-300 */
}

/*tr:hover td {*/
/*  background-color: #3b82f6; !* bg-blue-500 *!*/
/*}*/

.green {
  color: #22c55e !important; /* Light green */
}

.orange {
  color: #f97316 !important; /* Light orange */
}

.red {
  color: #ef4444 !important; /* Light red */
}
